@charset "UTF-8";
html{font-size: 100px;}
body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
	font-weight: normal;
}
body{
	color: #000;
	font-size: .16rem;
	background: #fff;
}
input,button{
	border: none;
	outline: none;
}
a{ text-decoration: none; }

.header,.footer{
	position: fixed;
	left: 0;
	right: 0;
	line-height: .44rem;
	text-align: center;
	background: #5fc0cd;
	color: #fff;
	font-size: .14rem;
	z-index: 9;
}
.header{
	.back-btn{
		position: absolute;
		top: 0;
		left: 0;
		width: .6rem;
		height: .44rem;
		background: url(../img/back.png) no-repeat center;
		background-size: .15rem;
	}
}
.content{
	position: absolute;
	top: .44rem;
	margin-bottom: 1rem;
	width: 100%;
	.profile{
		position: relative;
		height: 1.625rem;
		background: url(../img/bg.jpg) no-repeat center;
		background-size: cover;
		overflow: hidden;
		.self-img{
			position: absolute;
			top: 50%;
			left: .3rem;
			margin-top: -(1rem / 2);
			width: 1rem;
		}
		.self-wrap{
			position: absolute;
			top: 50%;
			left: 1.6rem;
			transform: translate(0,-50%);
			color: #fff;
			h4{
				font-size: .22rem;
				sub{
					margin-left: .1rem;
					vertical-align: 0;
				}
			}
			p{
				position: relative;
				margin-top: .12rem;
				line-height: .2rem;
				font-size: .14rem;
				text-indent: .23rem;
			}
			p:after{
				content: '';
				position: absolute;
				left: 0;
				width: .2rem;
				height: .2rem;
				background: url(../img/adds.png) no-repeat center;
				background-size:contain;
			}
		}
	}
	.personal-skill{
		padding: 0 .2rem;
		.skill-title{
			position: relative;
			font-size: .12rem;
		}
		.skill-title:before{
			content: '';
			position: absolute;
			left: -.1rem;
			top: 50%;
			transform: translate(0,-50%);
			width: .03rem;
			height: .18rem;
			background: #5fc0cd;
		}
		.section{
			padding: .2rem 0;
			border-bottom: 1px solid #ccc;
			p{
				display: inline-block;
				margin-right: .1rem;
				font-size: .12rem;
			}
			.self-word{
				margin: 0;
				width: 60%;
				vertical-align: middle;
			}
		}
	}

}
.footer{
	padding: .1rem 0;
	bottom: 0;
	background: #fff;
	input{
		width: 45%;
		margin-right: .1rem;
		line-height: .4rem;
		border: .02rem solid #5fc0cd;
		border-radius: .1rem;
		background: #fff;
		color: #5fc0cd;
	}
	.call{
		margin: 0;
		color: #fff;
		background: #5fc0cd;
	}
}
.pink-color{
	color: #e26163;
}
.gray-color{
	color: #999;
	width: .65rem;
	border-right: 1px solid #ccc;
}
.star-icon{
	display: inline-block;
	margin-right: .03rem;
	width: .12rem;
	height: .12rem;
	background: url(../img/star.png) no-repeat center;
	background-size: cover;
}