@charset 'UTF-8';

$width: 6.4rem;

html{ font-size: 100px; }
body,h1,p{ margin: 0; }
body{ background: #68cdd5; color: #fff; }


// 窗口宽度>640,设计宽度=640
@media screen and (min-width:640px) {
	.wrap{
		width: $width;

		.logo{
			margin: 1.16rem auto 0;
			width: 1.8rem;
			height: .7rem;
		}

		.introduce{
			margin: 1.24rem auto 0;
			width: 4.52rem;
			line-height: .6rem;
			font-size: .3rem;
		}
		.left-icon,.right-icon{
			margin-top: 1.8rem;
			margin-bottom: 1rem;
			padding-top: 1.06rem;
			width: 1.2rem;
			background-size: 84px;
			font-size: .24rem;
		}
		.left-icon{
			margin-left: 1.2rem;
		}
		.right-icon{
			margin-right: 1.2rem;
		}
		.prev-btn{
			top: .2rem;
			left: .2rem;
			width: .54rem;
			height: .54rem;
		}
	}
}
// 窗口宽度<640,设计宽度=480
@media screen and (max-width:639px) {
	.wrap{
		width: $width * 0.75;
		.logo{
			margin: .86rem auto 0;
			width: 1.37rem;
			height: .53rem;
		}

		.introduce{
			margin: .91rem auto 0;
			width: 3.37rem;
			line-height: .42rem;
			font-size: .2rem;
		}

		.left-icon,.right-icon{
			margin-top: 1.34rem;
			margin-bottom: 1rem;
			padding-top: .8rem;
			width: .9rem;
			background-size: 63px;
			font-size: .14rem;
		}
		.left-icon{
			margin-left: .9rem;
		}
		.right-icon{
			margin-right: .9rem;
		}
		.prev-btn{
			top: .16rem;
			left: .16rem;
			width: .4rem;
			height: .4rem;
		}
	}
}
// 窗口宽度<480,设计宽度=320
@media screen and (max-width:479px) {
	.wrap{
		width: $width * 0.5;
		.logo{
			margin: .57rem auto 0;
			width: .9rem;
			height: .35rem;
		}

		.introduce{
			margin: .6rem auto 0;
			width: 2.25rem;
			line-height: .30rem;
			font-size: .15rem;
		}

		.left-icon,.right-icon{
			margin-top: .88rem;
			margin-bottom: 1rem;
			padding-top: .53rem;
			width: .6rem;
			background-size: 43px 43px;
			font-size: .12rem;
		}
		.left-icon{
			margin-left: .60rem;
		}
		.right-icon{
			margin-right: .60rem;
		}
		.prev-btn{
			top: .1rem;
			left: .1rem;
			width: .27rem;
			height: .27rem;
		}
	}
}

.wrap{
	margin: 0 auto;
	overflow: hidden;
	.logo{
		background: url(../img/logo.png) no-repeat center;
		background-size: cover;
		text-indent: -9999px;
		overflow: hidden;
	}
	.introduce{
		font-family: 'Microsoft Yahei';
	}
	.left-icon,.right-icon{
		background-repeat: no-repeat;
		background-position: top center;
		text-align: center;
	}
	.left-icon{
		float: left;
		background-image: url(../img/icon1.png);
	}
	.right-icon{
		float: right;
		background-image: url(../img/icon2.png);
	}
	.prev-btn{
		position: absolute;
		background: url(../img/prev.png) no-repeat center;
		background-size: cover;
	}
}
